<ion-header [hidden]="lectorqrService.scanActive" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Escanea tu mesa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [class]="lectorqrService.scanActive ? 'scan':'site'" >
  <ion-grid [hidden]="lectorqrService.scanActive" >  
    <ion-row>
      <ion-col>
         <h1> Tu factura</h1>
      </ion-col>
    </ion-row>
    <ion-row>  
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let producto of this.pedido.producto"   >        
            <ion-avatar slot="start">
              <ion-img [src]="producto.fotos[0]" [alt]="producto.nombre" 
              ></ion-img>
            </ion-avatar>
            <ion-label>                       
              <ion-grid>
                <ion-row>
                  <ion-col>
                    {{producto.nombre}}  
                  </ion-col>
                  <ion-col>
                    {{producto.precio}}  ARS x {{producto.cantidad}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col>
        Subtotal
      </ion-col>
      <ion-col>
        {{ this.subtotal}} ARS
      </ion-col>
    </ion-row>   
    <ion-row>
      <ion-col>
        Propina
      </ion-col>
      <ion-col>
        {{ this.propina }} ARS
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Total
      </ion-col>
      <ion-col>
        {{ this.total}} ARS
      </ion-col>
    </ion-row>
    </ion-grid>    
    <div class="scanbox" [hidden]="!lectorqrService.scanActive">
    </div>
  </ion-content>
  <ion-footer>
    <ion-grid *ngIf="this.usuarioLogueado.estado == this.clienteEstado.ESPERANDO_CUENTA">
      <ion-row>
        <ion-col>
          El mozo confirmará el pago de tu factura . 
        </ion-col>
      </ion-row>
    </ion-grid>   
    <ion-grid *ngIf="this.usuarioLogueado.estado != this.clienteEstado.ESPERANDO_CUENTA">
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="this.pedirCuenta()" expand="full" >
            Pedir Cuenta
          </ion-button>   
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!this.propinaAsignada">
      <ion-row>
        <ion-col>
      <!-- @todo eliminar tras el test -->
          <ion-button color="success" (click)="this.testEscanearQRMalo()" expand="full" >
            Test EXCELENTE
          </ion-button>
          <ion-button color="success" (click)="this.testEscanearQRMuyBueno()" expand="full" >
            Test MUY BUENO  
          </ion-button>
          <ion-button color="success" (click)="this.testEscanearQRBueno()" expand="full" >
            Test BUENO 
          </ion-button>
          <ion-button color="success" (click)="this.testEscanearQRMalo()" expand="full" >
            Test MALO 
          </ion-button>
<!-- @todo eliminar tras el test -->          
          <ion-button fill="solid" class="scanear" size="large" expand="full" class="qrlista" (click)="escanearQr()" [hidden]="lectorqrService.scanActive">
            <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
            <ion-label>Escanea la propina </ion-label>
          </ion-button>
          <ion-button fill="solid"  class="scanear"  size="large" expand="full"  (click)="deternerScaner()" [hidden]="!lectorqrService.scanActive" >
            <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
            <ion-label>Detener</ion-label>
          </ion-button>            
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-footer>