<ion-header [hidden]="lectorqrService.scanActive" >
  <ion-toolbar>
    <ion-buttons shape="round" slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tu factura</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [class]="lectorqrService.scanActive ? 'scan':'site'" >
  <ion-grid [hidden]="lectorqrService.scanActive" >  
    <ion-row>
      <ion-col>
         <h1> Tu factura</h1>
      </ion-col>
    </ion-row>
    <ion-row>  
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let producto of this.pedido.producto"   >        
            <ion-avatar slot="start">
              <ion-img [src]="producto.fotos[0]" [alt]="producto.nombre" 
              ></ion-img>
            </ion-avatar>
            <ion-label>                       
              <ion-grid>
                <ion-row>
                  <ion-col>
                    {{producto.nombre}}  
                  </ion-col>
                  <ion-col>
                    <strong>
                      {{producto.precio}}  ARS x {{producto.cantidad}}
                    </strong> 
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col>
        Subtotal
      </ion-col>
      <ion-col>
        <strong>{{ this.subtotal}} ARS</strong> 
      </ion-col>
    </ion-row>   
    <ion-row>
      <ion-col>
        Propina
      </ion-col>
      <ion-col>
        <strong> {{ this.propina }} ARS</strong> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Total
      </ion-col>
      <ion-col>
        <strong>{{ this.total}} ARS</strong> 
      </ion-col>
    </ion-row>
    <ion-row *ngIf="this.usuarioLogueado.estado == this.clienteEstado.ESPERANDO_CUENTA" class="mensajemozo">      
      <ion-col>
        El mozo fue informado que solicitaste la cuenta. 
        A la brevedad se acercará para tomar el pago. 
      </ion-col>
    </ion-row>   
    <ion-row>      
      <ion-col>
        <img style="opacity: 0.5; margin-top: 10%; margin-left: 30%" src="../../../assets/logo.png">
      </ion-col>
    </ion-row>   

  </ion-grid>    
  <div class="scanbox" [hidden]="!lectorqrService.scanActive">
  </div>
</ion-content>
<ion-footer>
    <ion-grid *ngIf="this.propinaAsignada">
      <ion-row>
        <ion-col>       
          <ion-button *ngIf="this.propinaAsignada && this.usuarioLogueado.estado != this.clienteEstado.ESPERANDO_CUENTA "  shape="round"  class="pedircuenta" (click)="this.pedirCuenta()" expand="full" >
            Pedir Cuenta
          </ion-button>                       
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!this.propinaAsignada">
      <ion-row>
        <ion-col>      
          <ion-button shape="round" *ngIf="this.showTestButton"  color="success" (click)="this.testEscanearQRMalo()" expand="full" >
            Test EXCELENTE
          </ion-button>
          <ion-button shape="round" *ngIf="this.showTestButton" color="success" (click)="this.testEscanearQRMuyBueno()" expand="full" >
            Test MUY BUENO  
          </ion-button>
          <ion-button shape="round" *ngIf="this.showTestButton" color="success" (click)="this.testEscanearQRBueno()" expand="full" >
            Test BUENO 
          </ion-button>
          <ion-button shape="round" *ngIf="this.showTestButton"  color="success" (click)="this.testEscanearQRMalo()" expand="full" >
            Test MALO 
          </ion-button>          

          <ion-button shape="round" fill="solid" class="scanear" size="large" expand="full" class="qrlista" (click)="escanearQr()" [hidden]="lectorqrService.scanActive">
            <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
            <ion-label>Escanea la propina </ion-label>
          </ion-button>

          
          <ion-button shape="round" fill="solid"  class="scanear"  size="large" expand="full"  (click)="deternerScaner()" [hidden]="!lectorqrService.scanActive" >
            <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
            <ion-label>Detener</ion-label>
          </ion-button>            
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-footer>