<ion-content>
  <ion-grid>  
    <ion-row>
      <ion-col>
         <h1> Tu factura</h1>
      </ion-col>
    </ion-row>
    <ion-row>  
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let producto of this.pedido.producto"   >        
            <ion-avatar slot="start">
              <ion-img [src]="producto.fotos[0]" [alt]="producto.nombre" 
              ></ion-img>
            </ion-avatar>
            <ion-label>                       
              <ion-grid>
                <ion-row>
                  <ion-col>
                    {{producto.nombre}}  x {{producto.cantidad}}
                  </ion-col>
                  <ion-col>
                    {{producto.precio}}  ARS
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Elaborado en 
      </ion-col>
      <ion-col>
        {{ this.pedido.tiempoElaboracionFinal}} min
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Precio final 
      </ion-col>
      <ion-col>
        {{ this.pedido.precioFinal}} ARS
      </ion-col>
    </ion-row>
    </ion-grid>    
  </ion-content>
  