.botones{
    display: flex;
    flex-direction: row;
}
ion-footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    justify-content : center;
}
.consultar{
    bottom: 8%;

}
.footerPrecio{
    --ion-background-color: #9a9fd1;
    
}
ion-card, ion-toolbar{
    --border-color: rgb(0, 0, 0);
    border-width: .01em;
    border-style:solid;
    background-color: transparent;
}

.footer{
    width: 100%;
}

.toolbar{
    padding: 5px;
}

.list{
    margin-bottom: 110px;
}