<ion-content > 
  <ion-grid class="main">    
    <ion-row class="ion-justify-content-start" >
      <ion-col  class="ion-align-items-center">        
          <h1 class="ion-text-uppercase ion-text-center text-blur-out">
            <img src="/assets/logo-texto.png"  class="rotate-scale-up ion-align-self-center" alt="Lo de Tito" />
            </h1>        
      </ion-col>            
    </ion-row>      
    <ion-row class="ion-justify-content-center" >
      <ion-col class="ion-align-items-center" >
        <img src="/assets/logo.png"  class="rotate-scale-up ion-align-self-center" />
      </ion-col>
    </ion-row>
    <ion-row  class=" ion-justify-content-end"  >
      <ion-col  class="ion-align-items-center">  
        <h2  class="ion-text-uppercase ion-text-center text-blur-out" >
          AVILA  LUCAS <br/>
          GONZALEZ SANTIAGO  <br/>
        </h2>
      </ion-col> 
    </ion-row>
  </ion-grid>   
</ion-content>
