<ion-content [class]="lectorqrService.scanActive ? 'scan':'site'" >
  <ion-grid [hidden]="lectorqrService.scanActive" >              
      <ion-row >
        <ion-col>          
          <p> Selecciona la mesa y escanea su QR </p>          
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="scanbox" [hidden]="!lectorqrService.scanActive">
    </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
<!-- tomar mesa 1 -->
<ion-button fill="solid" class="scanear" size="large" expand="full" class="qrlista" (click)="suponerEscaneoMesa1()" >
  <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
  <ion-label>Escanear QR Mesa 1 </ion-label>
</ion-button>

<!-- tomar mesa 2 -->
<ion-button fill="solid" class="scanear" size="large" expand="full" class="qrlista" (click)="suponerEscaneoMesa2()" >
  <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
  <ion-label>Escanear QR Mesa 2 </ion-label>
</ion-button>


        <ion-button fill="solid" class="scanear" size="large" expand="full" class="qrlista" (click)="escanearQr()" [hidden]="lectorqrService.scanActive">
          <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
          <ion-label>Escanear QR </ion-label>
        </ion-button>
        <ion-button fill="solid"  class="scanear"  size="large" expand="full"  (click)="deternerScaner()" [hidden]="!lectorqrService.scanActive" >
          <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
          <ion-label>Detener</ion-label>
        </ion-button>            
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-footer>