ion-content {
    --ion-grid-column-padding:        5px;
    --padding-top:0%;
    --background: var(--ion-color-primary, #546192) ;
    
    
    ion-grid{
        color:white;
    }

    ion-list{
        --background: var(--ion-color-primary, #546192) 
    }
    ion-item{
        --background: var(--ion-color-primary, #546192) 
    }
    ion-grid{
        --padding-start:10%;
        --padding-end:10%;
    }
   
   
}