<ion-content>
<ion-grid>  
  <ion-row>
    <ion-col>
       <h1> Tu pedido</h1>
    </ion-col>
  </ion-row>
  <ion-row>  
    <!--@todo corregir esto -->  
    <ion-col>
     <ion-grid>
       <ion-row *ngFor="let producto of this.pedido.producto">
         <ion-col>
           {{producto.nombre}}           
         </ion-col>
         <ion-col>
          {{producto.precio}} ARS
        </ion-col>
       </ion-row>
     </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Tiempo de elaboración Final
    </ion-col>
    <ion-col>
      {{ this.pedido.tiempoElaboracionFinal}} min
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Precio final 
    </ion-col>
    <ion-col>
      {{ this.pedido.precioFinal}}
    </ion-col>
  </ion-row>
  </ion-grid>
  <!-- @todo  su pedido -->
    <!-- @todo  Detalle del pedido -->
    <!-- @todo  Boton para indicar quede ya lo recibio  -->
    <!-- @todo  Boton para pedir la cuenta ?  -->
</ion-content>
