<ion-content>
<ion-grid>  
  <ion-row>
    <ion-col>
       <h1> Tu pedido</h1>
    </ion-col>
  </ion-row>
  <ion-row>  
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let producto of this.pedido.producto"   >        
          <ion-avatar slot="start">
            <ion-img [src]="producto.fotos[0]" [alt]="producto.nombre" ></ion-img>
          </ion-avatar>
          <ion-label>                       
            <ion-grid>
              <ion-row>
                <ion-col>
                  {{producto.nombre}} x {{producto.cantidad}} 
                </ion-col>
                <ion-col>                  
                  {{producto.estadoProducto}}                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Estado del pedido
    </ion-col>
    <ion-col>
      {{ this.pedido.estadoPedido | estado }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Elaborado en 
    </ion-col>
    <ion-col>
      {{ this.pedido.tiempoElaboracionFinal}} min
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Precio final 
    </ion-col>
    <ion-col>
      {{ this.pedido.precioFinal}} ARS
    </ion-col>
  </ion-row>
  <ion-row *ngIf="pedido.estadoPedido != Estado.ENTREGADO">
    <ion-col>
      <ion-button shape="round" type="button" expand="block" color="tertiary" [hidden]="this.usuarioLogueado.completoEncuesta" (click)="irAEncuesta()" >Realizar encuesta</ion-button>                                            
      <ion-button shape="round" type="button" expand="block" color="tertiary" [hidden]="!this.usuarioLogueado.completoEncuesta" (click)="irAResultadosEncuesta()" >Ver resultado de encuestas</ion-button>                                                  
      <ion-button shape="round" type="submit" expand="block" color="tertiary" (click)="this.volverAEspera()">Volver</ion-button>      
    </ion-col>
  </ion-row>

  </ion-grid>    
  <div *ngIf="pedido.estadoPedido == Estado.ENTREGADO">
    <ion-row>
      <ion-col>          
        <p> El mozo ya está trayendo tu pedido, cuando lo deje en tu mesa por favor avisanos que lo recibiste </p>          
      </ion-col>
    </ion-row> 
    <ion-button shape="round" type="submit" expand="block" color="tertiary" (click)="confirmarPedido()">Confirmar pedido</ion-button>    
  </div>

  <div *ngIf="pedido.estadoPedido == Estado.CONFIRMADO">
    <ion-button type="submit" expand="block" color="tertiary" (click)="this.volverAEsperaCierre()">Volver</ion-button>
  </div>
  

  
  
</ion-content>
