<ion-content>
<ion-grid>  
  <ion-row>
    <ion-col>
       <h1> Tu pedido</h1>
    </ion-col>
  </ion-row>
  <ion-row>  
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let producto of this.pedido.producto"   >        
          <ion-avatar slot="start">
            <ion-img [src]="producto.fotos[0]" [alt]="producto.nombre" 
            ></ion-img>
          </ion-avatar>
          <ion-label>                       
            <ion-grid>
              <ion-row>
                <ion-col>
                  {{producto.nombre}} 
                </ion-col>
                <ion-col>
                  <!-- @todo completar con el parametro que se le vaya a poner al producto para el estado -->
                  PREPARANDO 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Elaborado en 
    </ion-col>
    <ion-col>
      {{ this.pedido.tiempoElaboracionFinal}} min
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Precio final 
    </ion-col>
    <ion-col>
      {{ this.pedido.precioFinal}} ARS
    </ion-col>
  </ion-row>
  </ion-grid>    
</ion-content>
