<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes en lista espera</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  

  <ion-list>    


    <ion-item *ngFor="let turno of this.turnos"   >        
      <ion-avatar slot="start">
        <ion-img [src]="turno.photoURL" [alt]="turno.displayName" 
        ></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{  turno.displayName }}</h2>
        <h3> {{ turno.email }}</h3>                    
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button shape="round" class="btnaccion" color="success" (click)="this.asignarMesa(turno)" expand="full" >
                <ion-icon name="enter-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button shape="round" color="danger" class="btnaccion" (click)="this.eliminarCliente(turno)" expand="full" >
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>       
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>      
      <ion-col>
        <img style="opacity: 0.5; margin-top: 10%; margin-left: 30%;" src="../../../assets/logo.png">
      </ion-col>
    </ion-row>   
  </ion-grid>

</ion-content>
