<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes en lista espera</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  

  <ion-list>    
      <ion-item *ngFor="let turno of this.turnos">        
        <ion-grid>
          <ion-row>
            <ion-col>              
                <ion-img [src]="turno.photoURL" [alt]="turno.displayName" ></ion-img>                            
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              nombre: {{ turno.displayName }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              email: {{ turno.email }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button  (click)="this.asignarMesa(turno)" expand="full" color="success" >Aceptar</ion-button>
            </ion-col>
            <ion-col>
              <ion-button  (click)="this.eliminarCliente(turno)" expand="full" color="danger" >Rechazar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>    
  </ion-list>

</ion-content>
