<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes en lista espera</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  

  <ion-list>
    <ion-virtual-scroll [items]="this.turnos|async" approxItemHeight="320px">
      <ion-item *virtualItem="let turno">        
        <ion-grid>
          <ion-row>
            <ion-col>
              nombre: {{ turno.displayName }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              email: {{ turno.email }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button  (click)="this.eliminarCliente(turno)" expand="full">Eliminar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>

</ion-content>
