<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="pruebaPush('dueño')">
  Prueba envio push dueño
</ion-button>
<ion-button (click)="pruebaPush('cocinero')">
  Prueba envio push cocinero
</ion-button>
<ion-button (click)="pruebaPush('mozo')">
  Prueba envio push mozo
</ion-button>
<ion-button (click)="enviarMail()">
  Prueba envio mail
</ion-button>
<ion-button (click)="chatSvc.mostrarChat()">
Mostrar Chat
</ion-button>
</ion-content>
