.errors {
    font-size: small;
    color: var(--ion-color-light);
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ion-img{
    width: 40%;    margin: 0 30%;
}

ion-button.foto{
    height:8vh;
    --color:blue;
}