<ion-header>
  <ion-toolbar>
    <ion-title>Crear usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="crear()" novalidate>
    <ion-list>
      <!-- nombre -->
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input type="text" formControlName="nombre" required></ion-input>
      </ion-item>
      <div *ngIf="(nombre.dirty || nombre.touched) && nombre.errors" class="errors ion-padding">
        <span *ngIf="nombre.errors?.required"> El nombre es requerido.</span>
        <span *ngIf="nombre.errors?.minlength"> El nombre debe tener al menos cuatro carácteres.</span>
      </div>

      <!-- apellidos -->
      <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-input type="text" formControlName="apellidos" required></ion-input>
      </ion-item>
      <div *ngIf="(apellidos.dirty || apellidos.touched) && apellidos.errors" class="errors ion-padding">
        <span *ngIf="apellidos.errors?.required"> El apellidos es requerido.</span>
        <span *ngIf="apellidos.errors?.minlength"> El apellidos debe tener al menos cuatro carácteres.</span>
      </div>

      <!-- D.N.I -->
      <ion-item>
        <ion-label>D.N.I</ion-label>
        <ion-input type="text" formControlName="dni" required></ion-input>
      </ion-item>
      <div *ngIf="(dni.dirty || dni.touched) && dni.errors" class="errors ion-padding">
        <span *ngIf="dni.errors?.required"> El dni es requerido.</span>
        <span *ngIf="dni.errors?.minlength"> El dni debe tener al menos cuatro carácteres.</span>
      </div>

      <!-- email -->
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input type="email" formControlName="username" required></ion-input>
      </ion-item>
      <div *ngIf="(username.dirty || username.touched) && username.errors" class="errors ion-padding">
        <span *ngIf="username.errors?.required"> El correo es requerido.</span>
        <span *ngIf="username.errors?.minlength"> El correo debe tener al menos cuatro carácteres.</span>
        <span *ngIf="username.errors?.email"> Debe agregar un correo valido.</span>
      </div>

      <!-- nombre -->
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <!-- password Error messages -->
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors ion-padding">
        <span *ngIf="password.errors?.required"> La contraseña es requerida.</span>
        <span *ngIf="password.errors?.minlength">La contraseña debe tener al menos cuatro carácteres.</span>
      </div>      
    </ion-list>
    
      <ion-button type="submit" expand="block" color="success"    >Crear usuario</ion-button>
    
  </form>
</ion-content>