<ion-split-pane contentId="content">
  <ion-menu contentId="content" menuId="first">
    <!--
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title> </ion-title>
      </ion-toolbar>
    </ion-header>
    -->
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="first">
          <!-- alta dueño -->
          <ion-item
            routerLink="/dashboard/home"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-label>Home </ion-label> <ion-icon name="home-outline"></ion-icon>
          </ion-item>
          <!-- registros de clientes -->
          <ion-item
            *ngIf="this.accesosDuenio"
            routerLink="/dashboard/registros"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-label> Registros Solicitados </ion-label><ion-icon name="person-add-outline"></ion-icon>
          </ion-item>
          <ion-item
            routerLink="/dashboard/menu"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-label> Menu </ion-label><ion-icon name="fast-food-outline"></ion-icon>
          </ion-item>
          <!-- logout -->
          <ion-item (click)="logout()"  routerLinkActive="active-item" routerDirection="root" >            
            <ion-label> Cerrar sesion  </ion-label>  <ion-icon name="exit-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
