<ion-header [hidden]="lectorqrService.scanActive" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [class]="lectorqrService.scanActive ? 'scan':'site'" >
  <ion-grid [hidden]="lectorqrService.scanActive" >
    <!-- encuesta -->
    <ion-row>
      <ion-col>                    
        <p> Conocé las opiniones acerca de nosotros </p>
        <ion-button type="button" expand="block" color="tertiary" (click)="irAResultadosEncuestas()" >Ver resultados de encuesta</ion-button>                                            
        <ion-button type="button" expand="block" color="tertiary" (click)="testQRValido()" >Como si escaneo el QR  de la puerta</ion-button>
      </ion-col>
    </ion-row>
    <!-- lista de espera  -->
      <ion-row  >
        <ion-col>          
          <p> Agregate a lista de espera escaneando el QR que encontraras en la puerta  </p>          
        </ion-col>
      </ion-row>      
    </ion-grid>
    <div class="scanbox" [hidden]="!lectorqrService.scanActive">
    </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="solid" class="scanear" size="large" expand="full" class="qrlista" (click)="escanearQr()" [hidden]="lectorqrService.scanActive">
          <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
          <ion-label>QR lista de espera </ion-label>
        </ion-button>
        <ion-button fill="solid"  class="scanear"  size="large" expand="full"  (click)="deternerScaner()" [hidden]="!lectorqrService.scanActive" >
          <ion-icon name="qr-code-sharp" slot="start"></ion-icon>          
          <ion-label>Detener</ion-label>
        </ion-button>            
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-footer>